@import "./custom-classes.css";
@import "tailwindcss";

:root {
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.active {
  color: #fdc700;
  border-bottom: 2px solid;
}

.fade-in-animation {
  animation: fadeIn 0.7s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(16px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}

.animate-list {
  animation: appear 5s linear;
  animation-timeline: view();
  animation-range: entry 0 cover 25%;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
